<div>
  @if (!this.data.qualification){
    <h1>Qualifikation anlegen</h1>
  } @else {
    <h1>Qualifikation bearbeiten</h1>
  }
</div>
<form>
  <mat-form-field>
    <mat-label>Bezeichnung</mat-label>
    <input matInput type="text" [(ngModel)]="qualificationTitle" name="qualificationTitle">
  </mat-form-field>

  @if (!this.data.qualification){
    <button mat-raised-button (click)="addOrEditQualification(true)">Qualifikation anlegen</button>
  } @else {
    <button mat-raised-button (click)="addOrEditQualification(false)">Qualifikation bearbeiten</button>
  }
</form>
