<div class="spacer">
  <div class="row">
    @if (!this.data.qualification){
      <h1>Qualifikation anlegen</h1>
    } @else {
      <h1>Qualifikation bearbeiten</h1>
    }
  </div>
  <form>
    <mat-form-field>
      <mat-label>Bezeichnung</mat-label>
      <input matInput type="text" [(ngModel)]="qualificationTitle" name="qualificationTitle">
    </mat-form-field>
    <div class="text-center">
      @if (!this.data.qualification){
        <button mat-raised-button color="primary" (click)="addOrEditQualification(true)">Speichern</button>
      } @else {
        <button mat-raised-button color="primary" (click)="addOrEditQualification(false)">Änderungen speichern</button>
      }
    </div>
  </form>
</div>
