<div class="padding">
  <div>
    @if (!data.employee) {
      <h1>Mitarbeiter anlegen</h1>
    } @else {
      <h1>Mitarbeiter bearbeiten</h1>
    }
  </div>
  <div>
    <form [formGroup]="formGroup">
      <div class="row">
        <mat-form-field class="col">
          <mat-label>Vorname</mat-label>
          <input matInput type="text" formControlName="firstname">
        </mat-form-field>

        <mat-form-field class="col">
          <mat-label>Nachname</mat-label>
          <input matInput type="text" formControlName="lastname">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col">
          <mat-label>Ort</mat-label>
          <input matInput type="text" formControlName="city">
        </mat-form-field>

        <mat-form-field class="col">
          <mat-label>Postleitzahl</mat-label>
          <input matInput type="text" formControlName="postcode">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col">
          <mat-label>Straße</mat-label>
          <input matInput type="text" formControlName="street">
        </mat-form-field>

        <mat-form-field class="col">
          <mat-label>Telefonnummer</mat-label>
          <input matInput type="text" formControlName="phone">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Qualifikation hinzufügen</mat-label>
          <mat-select formControlName="skillSet" multiple>
            @for (qualification of allQualifications; track qualification.id) {
              <mat-option value="{{qualification.id}}">{{ qualification.skill }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="qualification-wrapper">
        @if (employeeQualifications.length > 0) {
          <h2>Qualifikationen</h2>
          <ul>
            @for (qualification of employeeQualifications; track qualification.id) {
              <li>
                <div class="spacer">
                  {{ qualification.skill }}
                  <button mat-raised-button color="warn" (click)="deleteQualification(qualification)">Löschen</button>
                </div>
              </li>
            }
          </ul>
        }
      </div>
      <div class="text-center">
        @if (!data.employee) {
          <button mat-raised-button color="primary" (click)="addOrEditEmployee(true)">Speichern</button>
        } @else {
          <button mat-raised-button color="primary" (click)="addOrEditEmployee(false)">Änderungen speichern</button>
        }
      </div>
    </form>
  </div>
</div>
